version: 2.1

workflows:
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
          context:
            - "github"
            - "Docker Hub"

commands:
  setup:
    steps:
      - run:
          name: Prepare for multi arch build (setup qemu)
          command: |
            sudo apt-get update
            sudo apt-get install -y qemu-user-static binfmt-support
      - run:
          name: Check versions
          command: |
            qemu-arm-static --version
            qemu-aarch64-static --version
            update-binfmts --version 
      - run:
          name: Create multi arch docker image builder
          command: |
            docker buildx create --name multi-arch-builder
            docker buildx use multi-arch-builder
            docker buildx inspect --bootstrap
      - checkout
      - run:
          name: Clone docker-asciidoctor repository
          command: |
            echo "Using tag: ${CIRCLE_TAG:-main}"
            git clone --depth 1 -b ${CIRCLE_TAG:-main} https://github.com/asciidoctor/docker-asciidoctor.git
            echo "Asciidoctor Docker version: $(git describe --tags --always)"
      # @see: https://gitlab.alpinelinux.org/alpine/infra/infra/-/issues/8087
      # @see: https://github.com/alpinelinux/docker-alpine/issues/98
      - run:
          name: Alpine download workaround
          command: |
            sed -i "s|RUN apk|RUN sed -i 's/https/http/' /etc/apk/repositories \nRUN apk|g" docker-asciidoctor/Dockerfile
      # Remove erd completely because it is only available for x86
      - run:
          name: Remove erd
          command: |
            sed -i "/^# Haskell/,/^# Final image/{//!d;};" docker-asciidoctor/Dockerfile
            sed -i "s|COPY --from=erd-builder|# COPY --from=erd-builder|g" docker-asciidoctor/Dockerfile
      # Downgrade OpenJDK from 17 to 8 because it is the last version available for armhf
      - run:
          name: Downgrade OpenJDK
          command: |
            sed -i "s|openjdk17|openjdk8|g" docker-asciidoctor/Dockerfile

jobs:
  build:
    machine: true
    steps:
      - setup
      - run:
          name: Build docker image
          command: |
            cd docker-asciidoctor/
            echo "${DOCKER_PASS}" | docker login -u "${DOCKER_USER}" --password-stdin
            TAG_NAME="${DOCKER_USER}/asciidoctor-base"
            if [ "${CIRCLE_TAG}" != "" ]; then
              TAG_NAME+=":${CIRCLE_TAG}"
            fi
            docker buildx build \
              --platform linux/amd64,linux/arm/v7,linux/arm64 \
              --tag ${TAG_NAME} \
              --build-arg BUILDKIT_MULTI_PLATFORM=1 \
              --push .
